.container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  background-color: #f5f5f5;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  margin-bottom: 30px;
  color: #1e1e1e;
}

#question {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #1e1e1e;
}

#choices {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  background-color: #e2a89e;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}

button:hover {
  background-color: #d46a6a;
  transform: translateY(-2px);
  box-shadow: 4px 4px 12px rgba(0,0,0,0.4);
}


#result {
  font-size: 2rem;
  margin-top: 20px;
  
  color: #1e1e1e;
}


#submit {
  display: none;
}

#reset {
  background-color:#d46a6a
}





.incorrect {
  color: red;
  
}





